body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    margin: 20px;
}

#hero {
    background-color:gold;
    padding: 20px;
    text-align: center;
}

#about, #projects, #contact {
    background-color:wheat;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

#projects .project {
    margin-bottom: 20px;
}

#contact ul {
    list-style: none;
    padding: 0;
}

#contact li {
    margin-bottom: 10px;
}
